.header {
    position: fixed;
    top:0;
    left:0;
    padding: 10px 0;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .logo-slogan {
        display: flex;
    }
    &__slogan {
        white-space: nowrap;
        margin-left: 60px;
        margin-top: 25px;

    }
}