.header {
    transition: all .3s linear;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    background-image: url(/images/header.jpg);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .logo-slogan {
        display: flex;
    }
    &__slogan {
        white-space: nowrap;
        margin-left: 60px;
        margin-top: 25px;
        font-size: 14px;
        line-height: 18px;
        color: #4f4f4f;
    }
    &.under {
        background-image: url(/images/header.jpg) !important;
        .logo {
            width: 55px;
            height: 67px;
        }
    }
}
.index-page {
    .header {
        background-image: none;
        
    }
}

